body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: 400px; 
}
.h1 {
	font-size: 70px;
}
.h2 {
	font-size: 40px;
}
.h3 {
	font-size: 60px;
	padding-top: 80px;
	font-weight: lighter;
}
.h4 {
	font-size: 60px;
	padding-top: 100px;
	font-weight: lighter;
}
.firstDiv {
	width: 100%;
	height: 50px;
	background-color: #303235;
	position: fixed;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: none;
}

.active {
    background-color: #4CAF50;
}
p {
	margin: 7px;
}
.secondDiv {
	height: 370px;
	background: linear-gradient(
      rgba(40, 39, 39, 0.45), 
      rgba(40, 39, 39, 0.45)
    ), url("../images/Mixer.jpg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #eff0f2;
    text-align: center;
    margin-top: 50px;
    padding-top: 150px; 
}
img {
	border-radius: 50%;
	height: 450px;
	width: 450px;	
}
.flex-container {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-content: center;
}

.flex-container>div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 19px;
}
.flex-containers {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-content: center;
  
}
.flex-containers>div {
  background-color: white;
  margin: 10px;
  padding:20px 90px 20px 90px;
  font-size: 15px;
}
.sixthDiv{
	width: 100%;
	height: 70px;
	background-color: #303235;
	margin-top: 10px;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    padding-top: 50px;
}